#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Project files
#############

# Useful/old code snippets
code_snippets/

# Old images and PSDs
old_images/
PSDs/

# IPB redirection
ipb/

# Netbeans project
/nbproject/